<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <div class="widget">
        <div class="field">
            <div class="title">Join us on Newsletter</div>
            <div class="subtitle">Subscribe to stay up to date with the latest articles!</div>
        </div>
        <div class="field">
            <div>
                <input id="name" type="text" formControlName="name" [attr.disabled]="shouldWait ? true : null" placeholder="Name..." title="{{ errorMessage('name') }}">
                <input id="email" type="text" formControlName="email" [attr.disabled]="shouldWait ? true : null" placeholder="Email address..." title="{{ errorMessage('email') }}">
            </div>
        </div>

        <button type="submit" [disabled]="!accountForm.valid || hasSendRequest" title="Register">
            <fa-icon [icon]="faEnvelope" *ngIf="!isSuccessful && !hasSendRequest"></fa-icon>
            <fa-icon [icon]="faCheck" class="checkedIcon" *ngIf="isSuccessful && hasSendRequest"></fa-icon>
            <fa-icon [icon]="faSpinner" *ngIf="shouldWait" [spin]="true"></fa-icon>
            <fa-icon [icon]="faX" class="failedIcon" *ngIf="isFailed && hasSendRequest"></fa-icon>
        </button>
    </div>
</form>
