<div class="login-container-background">
  <div class="login-container">
    <div class="login-container-panel">
      <div class="logo">
        <fa-icon [icon]="faUsers"></fa-icon>
        Account Manager</div>
      <div class="title">Log in</div>
      <div class="subtitle">Welcome back! Please enter your details.</div>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="element field">User Name</div>
        <input class="element field-input" type="text">
        <div class="element field">Password</div>
        <div class="element field password-container">
          <input class="field-input" [type]="passwordInputType">
          <span (click)="switchPasswordType()">{{passwordTip}}</span> 
        </div>
        <button class="element submit" type="submit" [disabled]="!loginForm.valid" title="Register">
          Sign in
        </button>
      </form>    
    </div>
    <div class="footer">
      © 2022 Copyright Jen-hsuan Hsieh.
    </div>
  </div>
  <div class="advertise-container">
    <div class="main-statement">
      Welcome to your account manager
    </div>
    <div class="sub-statement">
      Sign in to explore your members
    </div>
  </div>
</div>
