.account-list-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  margin-top: 2em;
  margin-left: 2em;
}

.account-list-button-group {
  display: flex;
  padding: 1em;
  margin-top: 2em;
  margin-bottom: .5em;
  margin-right: 2em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  .account-list-button {
    width: 5em;
    padding: .5em;
    margin-left: auto;
    text-align: center;
    font-size: 1.1em;
    border-radius: .5em;
    background-color: #393FC6;
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #d0e8ff;
      color: #000;
    }
  }
}

.account-list {
  left: 5em;
  flex-grow: 1;
  font-family: 'Open Sans', sans-serif;
  padding: 2em;
  .account-row {
    display: flex;
    cursor: pointer;
    &:hover {
      background-color: #d0e8ff;
    }
    &:last-child {
      border-bottom: 1px solid #878b96;
    }
    .item {
      padding: .5em;
      width: 20em;
      border-top: 1px solid #878b96;
      flex-grow: 1;
      width: 0;
      word-break: break-all;
      font-weight: 600;
      text-align: center;
      font-size: 1.1em;
    }
    &.title {
      font-weight: 200;
      color: #878b96;
      &:hover {
        cursor: default;
        background-color: #fff;
      }
    }
  }
}

.information {
  width: 100px;
  padding: .5em;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
}

/*
the animation here is for the opacity effect on the text content (ie. ON or OFF)
*/
@keyframes change-content {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.switch {
  position: absolute;
  clip-path: circle(0%);
}

.switch + label {
  display: inline-block;
  width: 50px;
  height: 20px;
  position: relative;

  border: 2px solid gray;
  border-radius: 30px;

  cursor: pointer;

  font-size: .8em;
	text-align: center;
}

.switch + label:before,
.switch + label:after {
    display: inline-block;
    position: absolute;
}

.switch + label:before {
  content: '';
  width: 14px;
  height: 14px;
  border-radius: 25px;
  left: 5px;
  top: 2px;
  background: gray;
  transition: all 0.3s ease-in-out;
}

.switch + label:after {
  display: inline-block;
  bottom: -30px;
  left: 30px;
  font-size: 10px;
  transform: translateX(-50%);
  color: #000;
}

.switch:checked + label{
  background: #393FC6;
}

.switch:checked + label:before {
  left: 25px;
}

.switch:checked + label:after {
  animation: change-content 0.3s forwards linear;
  background-color: #393FC6;
}


